---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 style="color: orange; text-align: center">Namaste Astro</h1>
  <h2>My Astro Learning Blog</h2>
</BaseLayout>
