---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greetings from "../components/Greetings";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My Astro Learning Blog</h2>
  <Greetings client:load messages={["Namaste", "Hello", "Hi", "Hey there"]} />
</BaseLayout>
